In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix 
from sklearn import metrics
from sklearn.metrics import classification_report

In [2]:
col_names=['age','job','marital','education','default','balance','housing','loan','contact','day','month','duration','compaign','pdays','previous','poutcome']
banks=pd.read_excel("C:\\Users\\User\\Desktop\\bankdata.xlsx")

banks.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,Y
0,30,1,0,2,0,1787,0,0,2,19,10,79,1,-1,0,0,0
1,33,10,0,1,0,4789,1,1,2,11,5,220,1,339,4,2,0
2,35,2,2,3,0,1350,1,0,2,16,4,185,1,330,1,2,0
3,30,2,0,3,0,1476,1,1,0,3,6,199,4,-1,0,0,0
4,59,6,0,1,0,0,1,0,0,5,5,226,1,-1,0,0,0

In [3]:
feature_names=[' age', ' job ', ' marital ', ' education ', ' default ', ' balance ',
       ' housing ', ' loan ', ' contact ', ' day ', ' month ', ' duration ',
       ' campaign ', ' pdays ', ' previous ', ' poutcome ',]

In [4]:
X=banks[feature_names]
z=banks.Y
X_train, X_test, z_train, z_test =train_test_split(X,z,test_size=0.5)

In [7]:


clf_gini = DecisionTreeClassifier(criterion = "gini", 
            random_state = 100,max_depth=3, min_samples_leaf=5) 
   
clf_gini=clf_gini.fit(X_train, z_train)

In [9]:
#def prediction(X_test, clf_object): 

z_pred = clf_gini.predict(X_test) 
#print("Predicted values:") 
#print(z_pred) 
chi_square=((z_test-z_pred)**2/z_pred)/2
print(chi_square)

1899         inf
2357         NaN
560          NaN
3089         NaN
2190         NaN
2765         NaN
3536         NaN
2644         inf
3285         NaN
398          NaN
1604         inf
985          NaN
1750         NaN
2352         NaN
2998         NaN
2707         NaN
1474         NaN
4215    0.000000
3209         NaN
4498         NaN
221          NaN
2209         NaN
1632         NaN
3817         inf
1560         NaN
3776         NaN
1285         NaN
4039         NaN
2872         NaN
855     0.000000
          ...
3541         NaN
4449         NaN
1574         inf
1160         NaN
448          NaN
1968         NaN
1864         NaN
1581         NaN
359     0.500000
1423         NaN
4445         NaN
4435         NaN
2188         NaN
2927         NaN
1963         NaN
4298         NaN
3228         NaN
2811         NaN
3875         NaN
1952    0.000000
825          NaN
1030         NaN
1041         NaN
871          inf
1719    0.000000
933          NaN
2902         NaN
4056         NaN
4487         NaN
3760         NaN
Name: Y, Length: 2261, dtype: float64

In [10]:
#def cal_accuracy(z_test, z_pred): 
      
print("Confusion Matrix: ", 
        confusion_matrix(z_test, z_pred)) 
    
#print ("Accuracy : ", 
    #accuracy_score(z_test,z_pred)*100)
print("accuracy score is",metrics.accuracy_score(z_test,z_pred))
      
print("Report : ", 
    classification_report(z_test, z_pred))

Confusion Matrix:  [[1926   66]
 [ 197   72]]
accuracy score is 0.8836797877045555
Report :               precision    recall  f1-score   support

          0       0.91      0.97      0.94      1992
          1       0.52      0.27      0.35       269

avg / total       0.86      0.88      0.87      2261